.loader {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    backdrop-filter: blur(1px);
    padding: 50px;
    border-radius: 50%;
}